/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #fafafa;
   font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

 .navbar-brand {
   a {
     color: #125688;
   }
 }

 .navbar-default .navbar-nav>li>a {
    color: #125688;
  }

 .navbar-default {
   background-color: #fff;
   height: 54px;
   .navbar-nav li a {
     color: #125688;
   }
 }

 .navbar-container {
   width: 640px;
   margin: 0 auto;
 }

 .posts-wrapper {
   padding-top: 40px;
   margin: 0 auto;
   max-width: 642px;
   width: 100%;
 }

 .post {
   background-color: #fff;
   border-color: #edeeee;
   border-style: solid;
   border-radius: 3px;
   border-width: 1px;
   margin-bottom: 60px;
 }

 .post-head {
   height: 64px;
   padding: 14px 20px;
   color: #125688;
   font-size: 15px;
   line-height: 18px;
   .thumbnail {}
   .name {
     display: block;
   }
 }

 .image {
   border-bottom: 1px solid #eeefef;
   border-top: 1px solid #eeefef;
 }

 .caption {
   padding: 24px 24px;
   font-size: 15px;
   line-height: 18px;

 }

 .form-wrapper {
   width: 60%;
   margin: 20px auto;
   background-color: #fff;
   padding: 40px;
   border: 1px solid #eeefef;
   border-radius: 3px;
 }

 .edit-links {
   margin-top: 20px;
   margin-bottom: 40px;
 }

/* Post */

.user-name-comment {

  font-size: 15px;
  color: #125688;
  padding: 5px;
  font-weight: 500;
}

.comment-content {
  padding: 10px;

}

.caption {
  padding: 10px;

}

.user-name {

  font-size: 13px;
  color: #696969;
  padding: 5px;
  font-weight: 400;
}

/* Comments */

.arthur_form, select {
    width: 610px;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      .arthur_form, select {
        width: 100%;
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      .arthur_form, select {
        width: 100%;
    }
